html, body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #C4C5C6;
    font-family: "Noto Sans KR", sans-serif;
}
.unactive{
    display: none !important;
}

.container{
    position :absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    width : 80vw;
    min-width:1200px;
    height: 80vh;
}

/* ----------------------- nav ----------------------- */

.container_nav{
    position: relative;

    width:100%;
    height: 10%;

    display: flex;
    justify-content: space-between;
}
.nav_item{
    position: absolute;
    z-index: -1; bottom:-10px;

    width: calc(25% + 20px);
    height:110%;

    clip-path: polygon(20% 0%, 80% 0%, 100% 90%, 100% 100%, 0% 100%, 0% 90%);
    color: #BBBBBB;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.3s ease-in-out;

    cursor: pointer;
}
.nav_item:hover{
    transform: translateY(-8px)
}
.nav_item:nth-child(1){
    left: 0;
    background-color: white;
    border:1px solid white;
    z-index: 9;
}
.nav_item:nth-child(2){
    left: 25%;
    background-color: #D6E7F7;
    border:1px solid #D6E7F7;
    z-index: 8;
}
.nav_item:nth-child(3){
    left: 50%;
    background-color: #F9DAE2;
    border:1px solid #F9DAE2;
    z-index: 7;
}
.nav_item:nth-child(4){
    right: 0;
    background-color: #D3E9DA;
    border:1px solid #D3E9DA;
    z-index: 6;
}
.active_nav_item{
    color:black;
    font-size: 1.2rem;
    font-weight: 999;
    z-index:999 !important;
}

/* ----------------------- content border ----------------------- */
.content{
    position: relative;
    z-index: 10;
    width:100%;
    height:90%;
    

    overflow: hidden;
}

.content_border_top{
    position: absolute;
    top: -1rem; left: 50%; z-index: 999;

    transform: translateX(-50%);

    width: 100%;
    height: 4px;

    background-color: black;
}
.content_border_top_half_left{
    position: absolute;
    top: -1rem; left: 0%; z-index: 999;

    width: 48%;
    height: 4px;

    background-color: black;
}
.content_border_top_half_right{
    position: absolute;
    top: -1rem; right: 0%; z-index: 999;

    width: 48%;
    height: 4px;

    background-color: black;
}
.content_border_bottom{
    position: absolute;
    bottom: -1rem; left: 50%; z-index: 999;

    transform: translateX(-50%);

    width: 100%;
    height: 4px;

    background-color: black;
}
.content_border_bottom_half_left{
    position: absolute;
    bottom: -1rem; left: 0%; z-index: 999;

    width: 48%;
    
    height: 4px;

    background-color: black;
}
.content_border_bottom_half_right{
    position: absolute;
    bottom: -1rem; right: 0%; z-index: 999;

    width: 48%;
    
    height: 4px;

    background-color: black;
}
.content_border_left{
    position: absolute;
    top: 50%; left: -1rem; z-index: 999;

    transform: translateY(-50%);

    width: 4px;
    height: 100%;

    background-color: black;
}
.content_border_right{
    position: absolute;
    top: 50%; right: -1rem; z-index: 999;

    transform: translateY(-50%);

    width: 4px;
    height: 100%;

    background-color: black;
}
.content_border_center{
    position: absolute;
    top: 50%; left:50%; z-index: 999;

    transform: translate(-50%, -50%);

    width: 4px;
    height: 100%;

    background-color: black;
}

/* ----------------------- company info ----------------------- */
.company_info{
    background-color: white;
}


.active_page{
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);

    width:90%;
    height:80%;
}

.company_info_1_text{
    position: absolute;
    bottom:2rem;
}

.explain_window{
    padding:2rem;
    box-sizing:border-box;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
}


/* ----------------------------------- revenue ----------------------------------- */
.revenue{
    background-color: #D6E7F7;
}
.left_content{
    position: absolute;
    top: 51%; left: -1%;

    transform: translateY(-51%);

    width: 51%;
    height: 108%;

}
.right_content{
    position: absolute;
    top: 51%; right: -1%;

    transform: translateY(-51%);

    width: 51%;
    height: 108%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right_content_item{
    padding: 1rem;
    width: 85%;

    display: flex;
    justify-content: space-between;
    align-items: center;

    border-bottom: 4px solid black;
}
.company_info_title, .revenue_title, .share_title, .news_title{
    margin:1.5rem 1rem;

    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 1rem;
}
.revenue_text{
    padding: 1rem;
    width:80%;

    text-align: center;
}


/* ----------------------------------- share ----------------------------------- */
.share{
    background-color: #F9DAE2;
}















/* ----------------------------------- news ----------------------------------- */
.news{
    background-color: #D3E9DA;
    height:150vh;
}

.keyword_result{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    width:97%;
    

    /* overflow-x: hidden; */
    /* overflow-y: scroll; */

    border: 1px solid black;
}










/* ----------------------------------- content-footer ----------------------------------- */

.content_footer{
    position: absolute;
    bottom: 2.5rem; left: 50%;

    transform: translateX(-50%);

    width: 90%;
    height: 10%;

    display: flex;
}

.left_btn, .right_btn{
    width:2rem;
    height:2rem;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: white;
    border: 3px solid black;
    border-radius: 50%;
    font-size: 1.5rem;

    cursor: pointer;
}
.left_btn{
    position: absolute;
    left:0rem;
}
.right_btn{
    position: absolute;
    right:0rem;
}
.right_btn:hover, .left_btn:hover{
    background-color: black;
    color:white;
}